div{
  display: inline-block;
  color: blue;
  height: 200px;
  width: 200px;
  background-color: black;
  border-style: solid;
  border-width: 10px;
  text-align: center;
  transition-property: color, width,background-color,border-radius;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: .3s;
  transform: translate(50px, 50px);
  transform: rotate(20deg);
  transform: scale(1,2);
  transform: skewX(15deg);

}

div:hover{

}
div:active{

}

#a1{
  background-color: red;
  color: white;
  padding: 20px;
  border-style: double;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 20px;
}
#a2{
  background-color: red;
  color: white;
  padding: 15px;
  border-style: double;
  background-image: linear-gradient(red,white,red,white);
}#a3{
  background-color: yellow;

  padding: 10px;
  border-style: double;
  background-image: radial-gradient(white, yellow,blue);
}
#a4{
  background-color: brown;
  color: white;
  padding: 5px;
  border-style: double;
  background-image: repeating-radial-gradient(white,red,black,red,black);
}
#a5{
  background-color: red;
  color: white;
  padding: 2px;
  border-style: double;

  transition-property: color, width,background-color,border-radius;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.5s;

}
#a5:hover{
  color: yellow;
  width: 400px;
  background-color: black;
  border-radius: 89px;
}
#a6{
  background-color: red;
  color: white;
  padding: 3px;
  border-style: double;

  transform: translateY(50px);

}
#a7{
  background-color: red;
  color: white;
  padding: 7px;
  border-style: double;

transform:  rotate(40deg);

}
#a8{
  background-color: red;
  color: white;
  padding: 10px;
  border-style: double;
transform: scale(1,2);
}
#a9{
  background-color: red;
  color: white;
  padding: 12px;
  border-style: double;
  transform:  skewX(300deg);
}
