*{
  font-family: Arial, "Comic Sans"sans-serif;; <!-- comic sans amb cometes, sans-serif (per defecte), italic(curvada) -->
font-variant: small-caps;
font-style: normal;
color: brown;
  background-color:yellow;
  text-align: center;
  line-height: 120%
  letter-spacing:normal;
  word-spacing:normal;
}
a{
  height: 50px;
  width: 20px;
}
.a{
  display:block;
  font-family: "Comic Sans"sans-serif
  color: brown;
  width: 75%;
}
.b{
  display:inline;
    color: white;
  width: 50%;
    font-variant:small-caps;
}
.c{
  display: inline-block;
  font-size: 300%;
  line-height: 20px;
  width: 25%;
}
#ID1{
    font-variant:small-caps;
}
#ID3{
    font-variant:small-caps;
}
#ID4{
  text-align: right;
  word-spacing:20px;
    font-size: 1000000%;
    line-height: 1000px;
      background-color:black;
      height: 500px;
      width: 200px;
}
#img1{
  clear: left;
  float: left;
}
#img2{
  clear: right;
  float: right;
}
