html{
  background-color: black;
}

header{
  height: 225px;
  color: #005F61;
  padding-top: 100px;
  padding-left: 900px;
  padding-right: 50px;
  padding-bottom: 50px;

  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;

  border-style: inset;
  border-color: red;
  border-top-width: thick;
  border-bottom-width: thick;
  border-left-width: medium;
  border-right-width: medium;

  background-color: #FFFFFF;
}

nav{
  height: 250px;
  color: #0000FF;
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 50px;
  padding-bottom: 1px;

  margin-left: 100px;
  margin-top: 2px;
  margin-bottom: 50px;
  margin-right: 100px;

border-style: dashed;
border-color: red;
border-top-width: thick;
border-bottom-width: thick;
border-left-width: medium;
border-right-width: medium;

background-color: #3cff00;
}

a{
  display: block;
  width: 70px;
  height: 50px;

  background-color: #2400FF;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;

  margin: auto;

  border-style: dotted;



}
a:visited{
  color:#FFFC0A;
  text-decoration: underline;

}
a:hover{
  color: red;

}

a:active{
  border-style: dotted;

}
a:link{
  color: #FFE7C7;
}

h1{
  font-family:monospace;
}

#img1{
  height: 125px;
  width: 125px;
  float: left;
}

#a1{
  font-family: fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 25px;
  color: black;

  background-color: red;
  background-attachment: scroll;

  text-align: right;
  line-height: 25px;
  letter-spacing: 10px;
  word-spacing: 20px;


}
#a2{
  font-family: fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 25px;
  color: white;

  background-color: blue;
  background-attachment: scroll;

  text-align: left;
  line-height: 50px;
  letter-spacing: 10px;
  word-spacing: 20px;


}
#a3{
  font-family: fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 25px;
  color: green;

  background-color: yellow;
  background-attachment: scroll;

  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
  word-spacing: 20px;


}
#a4{
  font-family: fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 25px;
  color: black;

  background-color: red;
  background-attachment: scroll;

  text-align: right;
  line-height: 50px;
  letter-spacing: 10px;
  word-spacing: 20px;


}
#a5{
  font-family: fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 25px;
  color: white;

  background-color: blue;
  background-attachment: scroll;

  text-align: left;
  line-height: 50px;
  letter-spacing: 10px;
  word-spacing: 20px;


}
#a6{
  font-family: fantasy;
  font-variant: small-caps;
  font-style: oblique;
  font-size: 25px;
  color: green;

  background-color: yellow;
  background-attachment: scroll;

  text-align: center;
  line-height: 50px;
  letter-spacing: 10px;
  word-spacing: 20px;


}

ol{
  list-style-type: armenian;
  list-style-image: url(./img/124210_full_caX_icon.ico);


}
