/*Comentari*/
*{
  font-family: Arial, "Comic Sans"sans-serif;; <!-- comic sans amb cometes, sans-serif (per defecte), italic(curvada) -->
  background-color:
}
body{
  background-image: url(https://media.tenor.com/images/140d396ff10246838cac4d82b291b9b7/tenor.gif);
  background-size: 25%;
  text-align: justify;
  line-height: 500%

}
h1{
  color: blue;
  text-align: right;

}
p{
  color: brown;
  text-align: center;
}
.clas1{
color: #00FF00;
}
#ID1{
  color: #00FF00;
}

#a1{
  font-style: oblique; <!-- cursiva -->
  font-size: xx-small;
  font-size:  15px;
  font-size: 100%;
  font-variant: small-caps;
}
